/* Jumbotron */
.jumbotron{
  text-align: center;
  margin:250px 0 500px;
}

h1{
  font-size:40px;
  line-height: 1em;
}

h3{
  font-size:18px;
  line-height: 23px;
}

.section-heading{
  width:100%;
  border:2px solid white;
  text-align: center;
  height:33px;
}