/* Jumbotron */
.jumbotron{
  text-align: center;
  margin:250px 0 500px;
}

h1{
  font-size:40px;
  line-height: 1em;
  font-family: "Apercu Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom:20px;
}

h3{
  font-size:18px;
  line-height: 23px;
  margin-bottom:20px;
  text-align: center;
}

h3.section-heading{
  width:100%;
  border:2px solid white;
  text-align: center;
  line-height:33px;
  margin-bottom:40px;
}

h3.project-title{
  margin-top:30px;
}

.contact-profile h3{
  text-align: left;
}

.contact-profile .contact-profile-header{
  margin-bottom:20px;
  float:left;
}

.contact-profile .contact-profile-image{
  width:35%;
  margin-right:5%;
  float:left;
}

.contact-profile .contact-profile-caption{
  width:60%;
  float:left;
}

.contact-profile .contact-profile-bio{
  clear:both;
}

.projects-project{
  overflow: hidden;
}

.projects-project .project-summary{
  height:100px;
}

.projects-project a:hover{
  text-decoration: none !important;
}

.projects-project .project-mono-image{
  max-height: 
}


#wrapper,
.navbar .container{
  width:960px;
  margin:0 auto;
}

.navbar .inner{
  margin-top: 40px;
}

.navbar .nav-button{
  height:35px;
  width:130px;
  display: inline-block;
  margin-left:55px;
  background-color:#00007d;
  color:blue;
  line-height: 35px;
}

.navbar .nav-button-group{

}

.navbar .nav-button-group:first-child{
  margin-left:0 !important;
}

.underlay{
  position:relative;
  z-index: -100;
}

.section{
  position: relative;
  background-color: blue;
  margin-top:160px;
}

#logo{
  position:fixed;
  top:35px;
  text-align: center;
  margin-left:-10px;
}


@media (max-width: 767px) {
  #wrapper,
  .navbar .container{
    width:90%;
  }
  .section{
    margin-top:80px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #wrapper,
  .navbar .container{
    width:740px;
  }
}

@media (min-width: 1200px) {
  #wrapper,
  .navbar .container{
    width:1139px;
  }
}







