<div class="navbar">
  <div class="container inner">
	<div class="row">
	  <div id="fixed-header-left" class="nav-button-group pull-left">
		<a class="nav-button pull-left" href="#projects"><h3>Projects</h3></a>
		<a class="nav-button pull-right" href="#profile"><h3>Profile</h3></a>
	  </div>

	  <div id="fixed-header-right" class="nav-button-group span5 pull-right">
		  <a class="nav-button pull-left" href="#contact"><h3>Contact</h3></a>
		  <a class="nav-button pull-right" href="#clients"><h3>Clients</h3></a>
	  </div>

	</div><!-- /.row -->
  </div><!-- /.container -->
</div>