
<div class="container">
	<div class="row-fluid">
		<div class="span6 navbar">
			<div id="fixed-header-left" class="nav-button-group">
				<div class="pull-left">
					<a class="nav-button pull-left" href="#projects"><h3>Projects</h3></a>
					<a class="nav-button pull-right" href="#profile"><h3>Profile</h3></a>
				</div>
			</div>
		</div>

		<div class="span4">
			<div id="fixed-logo-container">
				<a id="logo" class="underlay" href="#home"><img src="/img/th-ey_logo_smfill_blue.png" alt="Th-ey home"></a>
			</div>
		</div>

		<div class="span6 navbar">
			<div id="fixed-header-right" class="nav-button-group">
				<div class="pull-right">
					<a class="nav-button" href="#contact"><h3>Contact</h3></a>
					<a class="nav-button" href="#clients"><h3>Clients</h3></a>
				</div>
			</div>
		</div>

	</div>
</div>
