<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Le styles -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script> 	
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">  
    <link href="/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="/elusive-iconfont/css/elusive-webfont.css">
    <link href="/css/style.css" rel="stylesheet">  		 
	<link href="/js/google-code-prettify/prettify.css" rel="stylesheet">	
	
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Apercu font served by fontdeck.com -->
    <script type="text/javascript">
		WebFontConfig = { fontdeck: { id: '26531' } };

		(function() {
		  var wf = document.createElement('script');
		  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		  wf.type = 'text/javascript';
		  wf.async = 'true';
		  var s = document.getElementsByTagName('script')[0];
		  s.parentNode.insertBefore(wf, s);
		})();
	</script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">    
  </head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

	<div class="wrapper">
				
		{% include navigation.html %}


		<div id="home" class="container">
			<div class="jumbotron section">
				<h1>Therrien–Barley</h1>
				<div class="row-fluid standard">
					<div class="span12 offset2">
						<h3>We apply an architectural process - research, concept, design, construction - to a variety of situations. We are a think-tank and a creative agency, sometimes designers and producers, often curators and always creative. We work with a host of clients and collaborators, from brands, cultural institutions, universities, and firms to artists, architects, designers, writers, curators and agencies.</h3>
						<a href="#profile">Full profile</a>
					</div><!-- /.span10 -->
				</div><!-- /.row -->
			</div><!-- /.jumbotron -->
		</div><!-- /.container -->
		
		<div id="projects"></div>

		<div class="section">
			<h3 class="section-heading">Projects</h3>
			<div class="container">
				<div class="row-fluid projects standard">
					<div class="span16">
						{{ content }}
					</div><!-- /.span12 -->
				</div><!-- /.projects -->
			</div><!-- /.container -->
		</div><!-- /.section -->

		<div id="profile"></div>
		<div class="section">
			<h3 class="section-heading">Profile</h3>
			<div class="container">
				<div class="row-fluid profile standard">
					<div class="span8 offset4">
						<h3>Connections</h3>
						<div>
						Aped etur saepelest haribus cillique porem cus aut il molluptatur? Seque nis non eius, consend uscimus vendaecabo. Fugit, ut ex eos dolendantia solor reperum re denihit undendam, sed maxime nonsecta pro molut que duntur? Tem fugia qui res et quae. Temporporum vidunt qui acersperorem liqui volorum res consequam laceatu restio ma velent esequiamus.
						</div>
						<h3>Digital Masterplans</h3>
						<div>
						Aped etur saepelest haribus cillique porem cus aut il molluptatur? Seque nis non eius, consend uscimus vendaecabo. Fugit, ut ex eos dolendantia solor reperum re denihit undendam, sed maxime nonsecta pro molut que duntur? Tem fugia qui res et quae. Temporporum vidunt qui acersperorem liqui volorum res consequam laceatu restio ma velent esequiamus.
						</div>
						<h3>Exhibitions, Environments, Buildings</h3>
						<div>
						Aped etur saepelest haribus cillique porem cus aut il molluptatur? Seque nis non eius, consend uscimus vendaecabo. Fugit, ut ex eos dolendantia solor reperum re denihit undendam, sed maxime nonsecta pro molut que duntur? Tem fugia qui res et quae. Temporporum vidunt qui acersperorem liqui volorum res consequam laceatu restio ma velent esequiamus.
						</div>
					</div><!-- /.span12 -->
				</div><!-- /.projects -->
			</div><!-- /.container -->
		</div><!-- /.section -->

		<div id="contact"></div>
		<div class="section">
			<h3 class="section-heading">Contact</h3>
			<div class="container">
				<div class="row-fluid contact standard">
					<div class="span6 offset1 contact-profile">
						<h3>Troy Conrad Therrien</h3>
						<div class="contact-profile-header">
							<img class="contact-profile-image" src="/img/people/troy.png" alt="">
							<div class="contact-profile-caption">
								<a href="http://www.twitter.com/troytherrien" target="_blank">@troytherrien</a><br>
								<a href="mailto:troy@th-ey.co" target="_blank">troy@th-ey.co</a><br>
								<a href="http://www.troyconradtherrien.com" target="_blank">troyconradtherrien.com</a><br>
								<br>
								<a href="http://www.facebook.com/troyth" target="_blank">Facebook</a>
							</div><!-- /.contact-profile-caption -->
						</div><!-- /.contact-profile-header -->
						<div class="contact-profile-bio">
							Ceritature perchit, occaeri onsequi tem qui od mos doluptis voluptius volore a destoritate dolupta tibersp eliquam seque volorat eat occum es ese pernat. Ditam, ommodis est vellam ipiet rerrorestis dolecus, omnimol essitenit illa videlitiste doloritat. One vero dolore dit et alici ommolor eperum ulleceped ut laut pos sequuntis as et aces nonecum etur, se as dolorporem dem la qui quis rehenderspe deliquibusda sam, vene ma at laborior seque diore odipsani voluptatur simTur.
						</div>
						
					</div><!-- /.span4 offset2 -->
					<div class="span6 offset2 contact-profile">
						<h3>Christopher P. Barley</h3>
						<div class="contact-profile-header">
							<img class="contact-profile-image" src="/img/people/chris.png" alt="">
							<div class="contact-profile-caption">
								<a href="http://www.twitter.com/chrispbarley" target="_blank">@chrispbarley</a><br>
								<a href="mailto:troy@th-ey.co" target="_blank">chris@th-ey.co</a><br>
								<br>
								<a href="http://www.facebook.com/troyth" target="_blank">Facebook</a>
							</div><!-- /.contact-profile-caption -->
						</div><!-- /.contact-profile-header -->
						<div class="contact-profile-bio">
							Ceritature perchit, occaeri onsequi tem qui od mos doluptis voluptius volore a destoritate dolupta tibersp eliquam seque volorat eat occum es ese pernat. Ditam, ommodis est vellam ipiet rerrorestis dolecus, omnimol essitenit illa videlitiste doloritat. One vero dolore dit et alici ommolor eperum ulleceped ut laut pos sequuntis as et aces nonecum etur, se as dolorporem dem la qui quis rehenderspe deliquibusda sam, vene ma at laborior seque diore odipsani voluptatur simTur.
						</div>
					</div><!-- /.span4 offset2 -->
				</div><!-- /.projects -->
			</div><!-- /.container -->
		</div><!-- /.section -->

		<div id="clients"></div>
		<div class="section clients">
			<h3 class="section-heading">Clients and Collaborators</h3>
			<div class="container">
				<div class="row-fluid profile">
					<div class="span3 offset3 client-logo">
						<img src="/img/client-logos/moma-ps1-logo.png">
					</div><!-- /.span3 -->
					<div class="span4 client-logo">
						<img src="/img/client-logos/columbia.png">
					</div><!-- /.span3 -->
					<div class="span3 client-logo">
						<img src="/img/client-logos/new-museum-white.png">
					</div><!-- /.span3 -->
				</div><!-- /.row-fluid -->
				<div class="row-fluid profile">
					<div class="span3 offset3 client-logo">
						<img src="/img/client-logos/deste.png">
					</div><!-- /.span3 -->
					<div class="span4 client-logo">
						<img src="/img/client-logos/audi.png">
					</div><!-- /.span3 -->
					<div class="span3 client-logo">
						<img src="/img/client-logos/stylepark.png">
					</div><!-- /.span3 -->
				</div><!-- /.row-fluid -->
				<div class="row-fluid profile">
					<div class="span3 offset3 client-logo">
						<img src="/img/client-logos/architizer-white.png">
					</div><!-- /.span3 -->
					<div class="span4 client-logo">
						<img src="/img/client-logos/project-projects-white.png">
					</div><!-- /.span3 -->
					<div class="span3 client-logo">
						<img src="/img/client-logos/swoon-nyc-white.png">
					</div><!-- /.span3 -->
				</div><!-- /.row-fluid -->
				<div class="row-fluid profile">
					<div class="span3 offset3 client-logo">
						<img src="/img/client-logos/nbny.png">
					</div><!-- /.span3 -->
					<div class="span4 client-logo">
						<img src="/img/client-logos/story-white.png">
					</div><!-- /.span3 -->
				</div><!-- /.row-fluid -->
			</div><!-- /.container -->
		</div><!-- /.section -->

		{% include footer.html %}
	</div><!-- /#wrapper -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>  
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>	  
   	<script src="/js/custom.js" type="text/javascript"></script>	
	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29830549-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
